.App {
  width: 85%;
  padding: 30px 0;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Structure */
.firstPage {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstPage h1 {
  font-size: 3rem;
}

.cubed {
  font-size: 1rem;
}

/* Input Form */
.userMessage, .messageInputForm button, .clear {
  height: 25px;
  width: 75%;
  margin: 0px auto;
  margin-top: 10px;
}

.messageInputForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Messages Box */
.messagesBox {
    min-height: 300px;
    max-height: 300px;
    width: 75%;
    border: 1px black solid;
    text-align: left;
    margin: 20px auto;
    overflow-y: auto;

}

.messagesBox li {
  list-style-type: none;
  margin-top: 5px;
}

.messageID {
  font-weight: bold;
}

.clear {
  margin-top: 0px;
  margin-bottom: 10px;
}

#hide {
  display: none;
}

.date {
  font-style: italic;
  font-size: 0.7rem;
}

.deleteYou {
  padding: 0 20px;
  color: grey;
  cursor: pointer;
}
