/* GENERAL SET UP (Note: The helpers and normalize code is at the bottom of the CSS) */

html {
  font-size: 20px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  margin: 0 auto;
}


.wrapper {
    max-width: 1080px; 
    width: 85%;
    margin: 0px auto;
}

h1 {
  font-size: 1.8rem;


}

p, button, input {
  font-size: 1rem;
  
}

button {
  width: 200px;
  padding: 5px;
  background: #e4ac66;
  font-weight: 500;
  border: none;
}

button:hover {
  padding: 5px;
  background: #f0efef;
  color: rgb(32, 32, 30);
  border: #e4ac66 solid 1px;
}

html {
    scroll-behavior: smooth;
}

.accent {
  font-size: 0.8rem;
  color: #e4ac66;
  transition: font-size 0.5s;
}
.accent2 {
  font-size: 0.7rem;
  color: black;
  text-decoration: none;
  list-style: none;
  transition: font-size 0.5s;
}
.accent2:hover {
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

.accent:hover {
  font-size: 1rem;
}

.imageContainer {
  width: 40%;
}

img {
  width: 100%;
}

/* NAVIGATION (all pages) */


nav {
    position: relative;
    height: 100px;
    padding-top: 40px; 
}

nav .wrapper {
  height: 100%;
}


nav div {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}


nav li {
    font-size: 1rem;
    line-height: 15px;
    list-style-type: none;
    text-decoration: none;
    color:#f0efef;
    width: auto;
    transition: font-size 0.5s;
    cursor: pointer;
        
}

nav li:hover {
    font-size: 1.1rem;
}

nav a {
    font-weight: bold;
    color: #f0efef;
    text-decoration: none;
}

.navAlt {
  margin-top: 0px;
  font-size: 1.4rem;
}

nav .logo a {
    font-size: 1.6rem;
    transition: font-size 0.5s;
}

nav a:hover{
    font-size: 1.7rem;
}

.page2 nav a{
  color: rgb(32, 32, 30)
}

.page2 nav li {
  color: rgb(32, 32, 30);
  font-weight: 550;
  font-size: 1rem;
  margin-top: 7px;
}

/* LANDING PAGE */

.landingPageTop {
  height: 660px;
  width: 100%;
  background: url(./assets/gilles-lambert-pb_lF8VWaPU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;

}
.landingPageBottom {
  height: 660px;
  background: #f0efef;
  width: 100%;
  
}




.landingPageTop h1, .landingPageBottom h1 {
  font-size: 2.3rem;
  margin: 75px 0px;
  margin-bottom: 20px;
  color: #f0efef;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.landingPageTop h2, .landingPageBottom h2, .roomPageBottom h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 75px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.landingPageTop form, .landingPageBottom form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.landingPageBottom form {
  justify-content: space-between;
  height: 300px;
}

.landingPageTop h1, .landingPageTop h2, .landingPageTop h3, .landingPageTop p, .landingPageTop button, .landingPageTop input, .landingPageTop form, .landingPageBottom h1, .landingPageBottom h3,.landingPageBottom p, .landingPageBottom button, .landingPageBottom input, .landingPageBottom form {
  text-align: left;
  /* text-align: center; */
}

.signInForm {
  width: 100%;
}

.landingPageTop .signInForm input {
  margin-top: 50px;
}

.signInForm input, .landingPageTop button, .landingPageBottom button{
  font-size: 0.9rem;
  padding: 10px;
}

.scrollDownHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

.landingPageTop button, .landingPageTop input, .landingPageBottom button, .landingPageBottom input {
  /* margin: 0 auto; */
  width: 30%;
  
}

.landingPageBottom button {
  background: #e3ba73;
} 

.landingPageBottom .switchSign {
  background: transparent;
  border: none;
  color: #e1a742;
  padding-left: 2px;
  margin-top: 20px;
  font-size: 0.75rem;
  width: 100%;
}

.landingPageBottom .switchSign {
  outline:0 !important; 
}

.landingPageBottom {
  position: relative;
}

.landingPageBottom .imageContainer {
  width: 40%;
  position: absolute;
  bottom: 125px;
  right: 7.5%;
}

/* CHAT PAGE & ROOM PAGE*/

 .page2, .roomPageBottom {
   background:#f0efef;
 }

.page2 h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.page2 .wrapper, .roomPage .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 560px;
}

.page2 nav .wrapper, .roomPage nav .wrapper {
    height: 100%;
}
/* ROOM PAGE */

.roomPageTop {
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url(./assets/manu-schwendener-g0OT8TogXng-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.roomPage h3, .roomPage p, .roomPage h1{
  color: #f0efef;
}

.roomPage .wrapper {
  height: 560px;
}

.roomPage nav {
  height: 100px;
}

.roomPage h1 {
  margin-top: 0px;
  font-size: 1.8rem;
  text-align: center;
}

.roomPage .introText {
  text-align: center;
  font-weight: 500;
}

.roomPage h3 {
  margin-top: 0px;
}

.roomPageForms {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}


.roomPageForms form {
  width: 37.5%;
}

.roomPageForms button,.roomPageForms input {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  margin: 5px 0;
}

.existingRoomButton {
  font-size: 0.8rem;
  background: none;
  color: #f0efef;
  border: none;
  width: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
}

.existingRoomButton:hover {
  color: #e4ac66;
  background: none;
  border:none;

}

.roomPageBottom {
  height: 660px;
}

.roomPageBottom .wrapper {
  justify-content: flex-start;
}

.pastRooms {
  margin: 0px 3px;
  cursor: pointer;
}

.pastRooms:hover {
  color: #e4ac66;
}




/* CHAT PAGE */
.page2 {
  display: flex;
  flex-direction: row;
}

.page2Main {
  width: 80%;
}

.page2Side {
  width: 20%;
  background: white;
  color: white;
  border: 1px black solid;
}

.page2SideTop a {
  text-decoration: none;
  color: black;
}


.page2SideTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 17.5%;
  background: #e1a964;
  padding: 20px 7.5%;
}

.page2SideBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 82.5%;
  padding: 20px 7.5%;
  background: #2e2e2e;
}
.page2SideTop h3{
  font-size: 1.5rem;
  margin: 15px 0px;
  color: rgb(32, 32, 30);
}

.page2SideBottom a, .page2SideBottom p {
  margin: 15px 0;
  font-size: 0.8rem;

}

.page2SideBottom p {
  font-weight:bold;
  font-size: 1rem;
}



.messageInputForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
}
/* Messages Box */
.messagesBox {
    min-height: 280px;
    max-height: 280px;
    margin-top: 30px;
    width: 100%;
    border: 1px rgb(32, 32, 30) solid;
    text-align: left;
    overflow-y: auto;
    padding: 10px;
    background: white;
}
.totalMessages p {
  font-size: 0.8rem;
  padding: 3px 0px;
}



.userMessage, .messageInputForm button, .clear, .page2 button {
  width: 85%;
  margin-top: 15px;
  padding: 10px; 
  font-size: 0.8rem;
}

.page2 button {
  width: 100%;
}

.messageInputForm button {
  width: 15%;
}

.messageText {
  padding: 0px 5px;
}

.messageID {
  font-weight: bold;
}



.clear {
  margin-top: 0px;
  margin-bottom: 10px;
}

#hide {
  display: none;
}

.dateText {
  margin-bottom: 7.5px;
}

.date {
  font-style: italic;
  font-size: 0.5rem;
  color: grey;

}

.deleteYou {
  padding: 0 8px;
  font-size: 0.7rem;
  color: grey;
  cursor: pointer;
}

.tipText {
  font-size: 0.6rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
}




/* RESPONSE 1: 900px  */

@media (max-width: 900px) {
  .landingPageBottom h2 {
    font-size: 1.75rem;
  }
  
  .landingPageTop button, .landingPageTop input, .landingPageBottom button, .landingPageBottom input {
    width: 45%;
  }
  .landingPageBottom form {
    justify-content: space-between;
    height: 280px;
  }

  .landingPageBottom button, .landingPageBottom input {
    margin: 20px 0px;
  }
  .landingPageBottom .switchSign {
      margin-top: 20px;

  }

  .landingPageBottom .imageContainer {
    bottom: 200px;
    width: 35%;
  }

  .page2 nav li {
    color: rgb(32, 32, 30);
    font-weight: 550;
    font-size: 0.9rem;
  }

  .roomPageForms input,  .roomPageForms button {
    width: 95%;
  }



}

/* RESPONSE 2: 620px  */
@media (max-width: 620px) {
   .landingPageBottom, .landingPageTop {
    height: 700px;
}

  .landingPageTop h1, .landingPageBottom h2, .landingPageTop h3, .landingPageTop p, .landingPageTop button, .landingPageTop input, .landingPageTop form, .landingPageBottom h1, .landingPageBottom h3,.landingPageBottom p, .landingPageBottom button, .landingPageBottom input, .landingPageBottom form {
  text-align: center;
  /* text-align: center; */
}

.landingPageTop button, .landingPageTop input {
    width: 75%;
    margin-top: 50px;
    margin: 0px auto;
    text-align: center;
  }

  .landingPageBottom button, .landingPageBottom input {
    margin-top: 0px;
    width: 75%;
    margin: 0px auto;
    text-align: center;
  }

  .landingPageBottom .imageContainer {
    display: none;
  }

  .roomPage .wrapper {
    height: 650px;
  }

  .roomPageForms {
    display: flex;
    flex-direction: column;
  }

  .roomPageForms h3 {
    margin: 25px 0px;
  }

  .roomPageForms form {
    width: 70%;
    margin: 0 auto;

  }

  .introText {
    display: none;
  }

  .page2Main {
    width: 100%;
  }

  .page2Side {
    display: none;
  }

  .navAlt {
  font-size: 1.2rem;
  }



}

/* RESPONSE 3: 450px  */

@media (max-width: 450px) {
  .landingPageBottom, .landingPageTop {
    height: 800px;
  }

  .roomPage .wrapper, .page2 .wrapper  {
    height: 725px;
  }
}







/* RESET & SET UP */


.clearfix:after {
    visibility: hidden; 
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) { 
	  position: absolute !important;
	  height: 1px; 
	  width: 1px;
	  overflow: hidden;
	  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	  clip: rect(1px, 1px, 1px, 1px);
	  white-space: nowrap; /* added line */
}


fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;

}

h1, h2 {
    margin: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


html {
    scroll-behavior: smooth;
}

/* NORMALIZE */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
    

