/* GENERAL SET UP (Note: The helpers and normalize code is at the bottom of the CSS) */

html {
  font-size: 20px;
  font-family: monospace;
}

.App {
  margin: 0 auto;
}


.wrapper {
    max-width: 1080px; 
    width: 85%;
    margin: 0px auto;
}

h1 {
  font-size: 1.8rem;

}

p, button, input {
  font-size: 1rem;
  
}

button {
  width: 200px;
  padding: 5px;
  background: #e6ca85;
  font-weight: 500;
}

button:hover {
  width: 200px;
  padding: 5px;
  background: #ebeced;
  color: rgb(32, 32, 30);
  border: #e6ca85 solid 1px;
}

html {
    scroll-behavior: smooth;
}

.accent {
  font-size: 0.8rem;
  color: #e6ca85;

}

.imageContainer {
  width: 40%;
}

img {
  width: 100%;
}

/* NAVIGATION (all pages) */


nav {
    font-family: Lato, sans-serif;
    position: relative;
    height: 100px;
    padding-top: 40px; 
}

nav .wrapper {
  height: 100%;
}


nav div {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}


nav li {
    font-size: 1rem;
    line-height: 15px;
    list-style-type: none;
    text-decoration: none;
    color:#ebeced;
    width: auto;
    transition: font-size 0.5s;
    cursor: pointer;
}

nav li:hover {
    font-size: 1.1rem;
}

nav a {
    font-weight: bold;
    color: #ebeced;
    text-decoration: none;
}

nav .logo a {
    font-size: 1.6rem;
    transition: font-size 0.5s;
}

nav a:hover{
    font-size: 1.7rem;
}

.page2 nav a, .roomPage nav a {
  color: rgb(32, 32, 30)
}

.page2 nav li, .roomPage nav li {
  color: rgb(32, 32, 30);
  font-weight: 550;
  font-size: 1rem;
}

/* LANDING PAGE */

.landingPageTop {
  height: 660px;
  width: 100%;
  background: url(./assets/gilles-lambert-pb_lF8VWaPU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;

}
.landingPageBottom {
  height: 660px;
  background: #ebeced;
  width: 100%;
  
}


.landingPageTop h1, .landingPageBottom h1 {
  font-size: 2.3rem;
  margin: 75px 0px;
  margin-bottom: 20px;
  color: #ebeced;
}

.landingPageTop h2, .landingPageBottom h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  padding: 75px 0px;
}

.landingPageTop form, .landingPageBottom form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.landingPageBottom form {
  justify-content: space-between;
  height: 300px;
}




.landingPageTop h1, .landingPageTop h2, .landingPageTop h3, .landingPageTop p, .landingPageTop button, .landingPageTop input, .landingPageTop form, .landingPageBottom h1, .landingPageBottom h3,.landingPageBottom p, .landingPageBottom button, .landingPageBottom input, .landingPageBottom form {
  text-align: left;
  /* text-align: center; */
}

.signInForm {
  width: 100%;
}

.landingPageTop .signInForm input {
  margin-top: 50px;
}

.signInForm input, .landingPageTop button, .landingPageBottom button{
  font-size: 0.9rem;
  padding: 10px;
}

.scrollDownHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

.landingPageTop button, .landingPageTop input, .landingPageBottom button, .landingPageBottom input {
  /* margin: 0 auto; */
  width: 30%;
}

.landingPageBottom .switchSign {
  background: transparent;
  border: none;
  color: #ae9a67;
  padding-left: 2px;
  margin-top: 20px;
  font-size: 0.75rem;
  width: 100%;
}

.landingPageBottom .switchSign {
  outline:0 !important; 
}

.landingPageBottom {
  position: relative;
}

.landingPageBottom .imageContainer {
  width: 40%;
  position: absolute;
  bottom: 125px;
  right: 7.5%;
}

/* CHAT PAGE & ROOM PAGE*/

 .page2, .roomPage {
   background: #ebeced;
 }

.page2 h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.page2 .wrapper, .roomPage .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 560px;
}

.page2 nav .wrapper, .roomPage nav .wrapper {
    height: 100%;
}

/* ROOM PAGE */
.roomPage .wrapper {
  height: 560px;
}

.roomPage nav {
  height: 100px;
}

.roomPage h1 {
  margin-top: 0px;
  font-size: 1.8rem;
  text-align: center;
}

.roomPage h3 {
  margin-top: 0px;
}

.roomPageForms {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}


.roomPageForms form {
  width: 37.5%;
}

.roomPageForms button,.roomPageForms input {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  margin: 5px 0;
}

/* CHAT PAGE */

.userMessage, .messageInputForm button, .clear, .page2 button {
  width: 100%;
  margin-top: 15px;
  padding: 7px; 
  font-size: 0.8rem;
}

.page2 .wrapper button:hover {
  width: 100%;
}

.messageInputForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
/* Messages Box */
.messagesBox {
    min-height: 280px;
    max-height: 280px;
    width: 100%;
    border: 1px rgb(32, 32, 30) solid;
    text-align: left;
    overflow-y: auto;
    padding: 10px;
}
.totalMessages p {
  font-size: 0.8rem;
  padding: 3px 0px;
}

.messageText {
  padding: 0px 5px;
}

.messageID {
  font-weight: bold;
}



.clear {
  margin-top: 0px;
  margin-bottom: 10px;
}

#hide {
  display: none;
}

.date {
  font-style: italic;
  font-size: 0.5rem;
  color: grey;
}

.deleteYou {
  padding: 0 8px;
  font-size: 0.7rem;
  color: grey;
  cursor: pointer;
}




/* RESPONSE 1: 900px  */

@media (max-width: 900px) {
  .landingPageBottom h2 {
    font-size: 1.8rem;
  }
  
  .landingPageTop button, .landingPageTop input, .landingPageBottom button, .landingPageBottom input {
    width: 45%;
  }
  .landingPageBottom form {
    justify-content: space-between;
    height: 280px;
  }

  .landingPageBottom button, .landingPageBottom input {
    margin: 20px 0px;
  }
  .landingPageBottom .switchSign {
      margin-top: 20px;
  }

  .landingPageBottom .imageContainer {
    bottom: 200px;
    width: 35%;
  }

  .page2 nav li {
    color: rgb(32, 32, 30);
    font-weight: 550;
    font-size: 0.9rem;
  }

  .roomPageForms input,  .roomPageForms button {
    width: 95%;
  }



}

/* RESPONSE 2: 620px  */
@media (max-width: 620px) {
   .landingPageBottom, .landingPageTop {
    height: 700px;
}

  .landingPageTop h1, .landingPageBottom h2, .landingPageTop h3, .landingPageTop p, .landingPageTop button, .landingPageTop input, .landingPageTop form, .landingPageBottom h1, .landingPageBottom h3,.landingPageBottom p, .landingPageBottom button, .landingPageBottom input, .landingPageBottom form {
  text-align: center;
  /* text-align: center; */
}

.landingPageTop button, .landingPageTop input {
    width: 90%;
    margin-top: 50px;
    margin: 0px auto;
    text-align: center;
  }

  .landingPageBottom button, .landingPageBottom input {
    margin-top: 0px;
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }

  .landingPageBottom .imageContainer {
    display: none;
  }

  .roomPage .wrapper {
    height: 650px;
  }

  .roomPageForms {
    display: flex;
    flex-direction: column;
  }

  .roomPageForms h3 {
    margin: 25px 0px;
  }

  .roomPageForms form {
    width: 100%;

  }

}

/* RESPONSE 3: 450px  */

@media (max-width: 450px) {
  .landingPageBottom, .landingPageTop {
    height: 800px;
  }

  .roomPage .wrapper, .page2 .wrapper  {
    height: 725px;
  }
}







/* RESET & SET UP */


.clearfix:after {
    visibility: hidden; 
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) { 
	  position: absolute !important;
	  height: 1px; 
	  width: 1px;
	  overflow: hidden;
	  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	  clip: rect(1px, 1px, 1px, 1px);
	  white-space: nowrap; /* added line */
}


fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;

}

h1, h2 {
    margin: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


html {
    scroll-behavior: smooth;
}

/* NORMALIZE */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
    

